/* Header */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
    font-family: 'Roboto', sans-serif;
}
.page-wrapper {
    padding: 0px !important;
}
.page-header {
    padding-bottom: 0px !important;
    margin: 0px !important;
    border-bottom: 1px solid #eee;
}
#maincontent {
    margin-top: -20px;
}

@media only screen and (min-width : 768px) {
    .logo {
        margin: -8px auto -80px -20px !important;
    }
    .logo img {
        max-height: inherit;
        height: 130px !important;
        width: 150px !important;
    }
    .block-search {
        padding: 0px 5px !important;
    }
    .block-search .action.search {
        -webkit-font-smoothing: antialiased;
        font-size: 18px !important;
        line-height: 32px;
        color: #fff !important;
        content: '\e615';
        font-family: 'luma-icons';
        margin: 0px !important;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        padding: 3px 0px 0px 7px !important;
    }
    .block-search .control {
        border: 0px solid #ccc !important;
    }
    input[type="text"]{
        height: 38px !important;
        width: 93% !important;
    }
    .block-search input {
        border: 0px solid #fff;
    }
    .action.search::before {
         color: #fff !important;
         padding: 0 0 0 4px !important;
         margin: 4px -2px !important;
    }
}
/* Home */
.page-main {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
html{
    font-family: 'Roboto';
}


/* Category list */

.cat-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #d7d7d7;
    padding-bottom: 3px;
    color: #181818;
}
.main-cat {
    padding-left: 15px;
}
.main-cat-tilte {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #181818;
	cursor: pointer;
}
li {
    list-style-type: none;
    color: #181818;
}
ul {
    padding-left: 15px;
    padding-top: 5px;
}
.main-cat ul {
    cursor: pointer;
}
.main-cat ul li {
    margin: 0;
    cursor: pointer;
}
/* Slider */

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.banner img {
    width: 100%;
    height: 500px;
}
.margin-15 {
    margin: 15px 0px;
}
.bottom-margin {
    border-bottom: 2px solid #d7d7d7;
    padding-bottom: 15px;
}
.top-margin {
    border-top: 2px solid #d7d7d7;
    padding-top: 15px;
}
.swiper-container,
.swiper-container-brand {
    overflow: hidden !important;
}
.swiper-container.swiper-container-horizontal {
    margin-top: 15px;
}
.swiper-container .banner img {
    width: 100%;
}
.brand .swiper-wrapper {
    float: left;
    width: 100%;
    height: 100px;
}
.brand .swiper-button-prev {
    background-image: url('../images/arrow-left.png');
    height: 20px;
    width: 28px;
    top: 53%;
    left: 0px;
}
.brand .swiper-button-next{
    background-image: url('../images/arrow-right.png');
    height: 20px;
    width: 28px;
    top: 53%;
    right: 0px;
}
.catlog .swiper-button-prev, .zapatos .swiper-button-prev, .estilos .swiper-button-prev{
    background-image: url('../images/arrow-left-black.png');
    height: 25px;
    width: 30px;
    top: 52%;
    left: 0px;
}
.catlog .swiper-button-next, .zapatos .swiper-button-next, .estilos .swiper-button-next{
    background-image: url('../images/arrow-right-black.png');
    height: 25px;
    width: 30px;
    top: 52%;
    right: 0px;
}
.catlog .cat-individual-title,.zapatos .cat-individual-title, .estilos .cat-individual-title {
    margin-bottom: 20px;
}
.zapatos img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zapatos img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.slider-title {
    margin: 0px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.slider-price {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
}
.col-12 {
    width: 100%;
}
/* tendencias */
.h-600{
    height: 607px;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.h-300{
    height: 300px;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 5px !important;
}
.col-md-8.h-300, .col-md-4.h-600, .col-md-4.h-300 {
    margin-top: 10px;
}
.col-md-8.h-300 {
    padding-left: 8px !important;
}

/* category individual */
.cat-container.margin-15 {
    clear: both;
    float: left;
    width: 100%;
}
.cat-individual-title {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px;
}
.cat-individual-title span {
    margin: 0 5px;
}
.sub-title {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    cursor: pointer;
}
.sub-cat-image-container:hover .overlay {
    width: 100%;
    opacity: .8;
}
.sub-cat-image-container img:hover .overlay {
    width: 100%;
    opacity: .8;
}
.text {
    white-space: nowrap;
    color: #000;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    text-transform: uppercase;
    background: #fff;
    padding: 15px;
    border-radius: 50%;
}
.sub-cat-image-container > img {
    width: 100%;
    height: 300px;
}
/* Footer */
.footer {
    background: #EFF0F2;
    padding: 15px;
}
.footer-title {
    color: #004686;
    font-size: 25px;
    margin: 10px 0px;
}
.footer-paragraph p {
    margin: 0;
    color: #383333;
}
input[type="text"] {
    height: 38px !important;
    width: 100% !important;
} 
.theme-pink{
    color: #DB2780;
}
.form-title{
    width: 100%;
    font-size: 18px;
}
.social-icon {
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 15px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.social-icon:hover {
    border-radius: 0%;
}
.footer-copy {
    width: 100%;
    background: #fff;
    float: left;
    text-align: center;
    padding: 15px;
}
.footer-copy p {
    padding: 0;
    margin: 0;
}
.footer-copy a {
    text-decoration: underline;
    -moz-text-decoration-color: #DB2780; /* Code for Firefox */
    text-decoration-color: #DB2780;
    color: #000;
}
/* tab responsive */
/* Tablet devices (tablets, 980px) */
@media (max-width: 980px) {
    .sub-cat-image-container > img {
        width: 100%;
        height: 200px;
    }
    .cat-individual-title {
        color: #360200;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }
    .sub-title {
        color: #360200;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 100;
        margin: 5px;
        text-align: center;
    }
    .swiper-container-brand.bottom-margin.top-margin.margin-15.swiper-container-horizontal {
        display: none;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
}

/* Mobile responsive */
/* Mobile devices (Mobile, 768px ) */
@media (max-width: 768px) {
    .sub-cat-image-container > img {
        width: 100%;
        height: 155px;
    }
    .margin-15 {
        margin: 0px !important;
    }
    .cat-individual-title {
        margin-left: 10px;
    }
    .col-sm-10 {
        width: 100%;
    }
    .columns {
        display: block;
    }
    .cat-container.margin-15 {
        width: 100%;
        margin-left: 15px;
    }
    .text {
        padding: 10px;
    }
}
/* Mobile responsive */
/* Mobile devices (Mobile, 450px ) */

@media (max-width: 767px) {
    .swiper-container-brand.bottom-margin.top-margin.margin-15.swiper-container-horizontal {
        display: none;
    }
    .sub-cat-image-container > img {
        width: 100%;
        height: 130px !important;
    }
    .margin-15 {
        margin: 0px !important;
    }
    .cat-individual-title {
        margin-left: 10px;
    }
    .col-sm-10 {
        width: 100%;
    }
    .cat-list {
        display: none;
    }
    .columns {
        display: block;
    }
    .cat-container.margin-15 {
        width: 100%;
        margin-left: 15px;
    }
    .text {
        padding: 5px;
    }
    .h-600{
        height: 303px;
        width: 100%;
        padding-right: 0px !important;
        padding-left: 5px !important;
    }
    .h-300{
        height: 150px;
        width: 100%;
        padding-right: 0px !important;
        padding-left: 5px !important;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
}

.no-padding{
    padding: 0px !important;
    margin: 0px !important;
}